<div>

    <form id="myForm" action="">
        <p>Agrega un producto</p>
        <label for="title">Agregar el nombre del producto</label>
        <input type="text" id="title" name="title"/>
        <label for="description">Agregar la descripcion del producto</label>
        <input type="text" id="description" name="description"/>
        <label for="price">Agregar el precio del producto</label>
        <input type="text" id="price" name="price"/>
        <label for="stock">Agregar el stock del producto</label>
        <input type="text" id="stock" name="stock"/>
        <label for="code">Agregar el codigo del producto</label>
        <input type="text" id="code" name="code"/>
        <button type="submit">Enviar</button>

    </form>

    <form id="deleteForm" action="">
        <p>Borrar un producto</p>
        <label for="id">Pon el ID del producto a borrar</label>
        <input type="text" id="id" name="id">
        <button type="submit">Enviar</button>
    </form>

    {{#each productList}}
    <div>
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <p>{{this.stock}}</p>
        <p>{{this.code}}</p>
    </div>
    {{/each}}
</div>
<script type="module"> 
     import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
     const socket = io();
    
    const products = document.getElementById("productList");
    const formulario = document.getElementById("myForm");
    formulario.addEventListener("submit", function (event) {
        event.preventDefault();
        const titleInput = document.getElementById("title").value;
        const descriptionInput = document.getElementById("description").value;
        const priceInput = document.getElementById("price").value;
        const stockInput = document.getElementById("stock").value;
        const codeInput = document.getElementById("code").value;

        const product = {title: titleInput, 
                    description: descriptionInput, 
                    price: priceInput, 
                    stock: stockInput, 
                    code: codeInput};

    const paragraph = document.createElement("p");
    paragraph.textContent = `Producto: ${titleInput} \nPrecio: ${priceInput} \nDescription: ${descriptionInput} \nStock: ${stockInput} \nCodigo: ${codeInput}`
    products.appendChild(paragraph);
    socket.emit("agregar", product);
    console.log("archivo enviado");
    })

    socket.on("agregar", (data) => {console.log("recibido", data)});
    const paragraph = document.createElement("p");
    paragraph.textContent = `Producto: ${titleInput} \nPrecio: ${priceInput} \nDescription: ${descriptionInput} \nStock: ${stockInput} \nCodigo: ${codeInput}`;
    products.appendChild(paragraph);

    const formDelete = document.getElementById("deleteForm");
    formDelete.addEventListener("submit", function (event) {
        event.preventDefault();
        const idInput = document.getElementById(document.getElementById("id").value);
        socket.emit("borrar", +idInput)
        console.log("archivo enviado")
    })
    
</script>
